**Python Tuple Introduction**
- Tuple is the data type used in Python
- Tuple is the Immutable Data Type, we cannot change tuple item after creation. 
- Tuple works like list but some difference. 
- Tuple contains multiple values having different data types. 
- Tuple is the ordered data structure having a sequence in items/elements
- Tuple stored elements/items enclosed with parennthesis (optional)
- We can create a Tuple inside another tuple, as Nested Tuple
- We can Concatenate more tuples (tuples + tuples)
- We can repeat a Tuple many times using * symbol. 
- We can use membership operator to check any element in tuple. 
- We can iterate tuple item one by one.

**Tuple Example**
- (3,)
- ("Python", "C++", "JavaScript", "C", "Java", "HTML")
- language=("Python", "C++", "JavaScript", "C", "Java", "HTML")
- (1, 3.4, 4+4j, "Jafri")

**Example:**

In [1]:
tple=(5, 12, 8, 3, 1, 41, 0)
print(type(tple))
print(tple)

<class 'tuple'>
(5, 12, 8, 3, 1, 41, 0)

In [2]:
tple=(5, 12, 8, 3, 1, 41, 0)
tple1=(10, 20)
tple2=tple+tple1
# print(type(tple))
print(tple2)

(5, 12, 8, 3, 1, 41, 0, 10, 20)

In [3]:
tple=(5, 12, 8, 3, 1, 41, 0)
tple1=(10, 20)*5
# tple2=tple+tple1
# print(type(tple))
print(tple1)

(10, 20, 10, 20, 10, 20, 10, 20, 10, 20)

In [4]:
tple=(5, 12, 8, 3, 1, 41, 0)
tple1=(10, 20)
tple2=tple+tple1
# print(type(tple))
print(5 in tple)

True

In [5]:
for i in tple:
    print(i)

5
12
8
3
1
41
0